@import "../../common/scss/colors";
@import "../../common/scss/fonts";

.wp-block-eecontractingllc-hero {
  @import "../../common/scss/buttons";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  height: calc(100vh - 100px);
  margin-bottom: 100px;
  padding: 65px 165px;
  color: white;
  transition: all 1s ease-out;

  h1 {
    font-family: "calluna";
    font-size: 70px;
    max-width: 50%;
    margin-bottom: 3px;
    line-height: 128%;
    letter-spacing: 0.8px;
    font-weight: normal;
  }

  ul {
    display: flex;
    align-items: center;
    border-left: 5px solid $color-primary;
    height: 37px;
  }

  li {
    margin: 0 20px;
  }

  a {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.15px;
    font-family: "calluna-sans";
  }

  .splash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: calc(100vh - 100px);
    left: 0;
    background-color: $color-secondary;
    width: 100%;
    height: 100px;
    padding: 0 70px;
    opacity: 1;
    transition: all 1s ease-out;
    img {
      position: absolute;
      left: calc(50% - 55px);
      bottom: 0;
      width: 110px;
    }
    button {
      height: 50px;
    }
  }

  body.scrolled & {
    margin: 0 40px 100px;
    padding: 100px;

    .splash {
      opacity: 0;
    }
  }
}
