@import "../../common/scss/colors";
@import "../../common/scss/fonts";

.wp-block-eecontractingllc-animated-navbar-editor {
  @import "../../common/scss/headers";
  ul.horizontal,
  ul.vertical {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      position: relative;
      line-height: 0;

      &.body {
        flex-grow: 1;
      }

      label {
        font-family: $sans;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 21px 0 0 13px;
        transition: all 200ms;
        opacity: 0.5;
      }

      input,
      textarea {
        width: 100%;
        padding-left: 11px;
      }

      textarea {
        height: 100%;
      }

      input {
        height: 40px;
      }

      input:focus + label,
      textarea:focus + label,
      input:not([value=""]):valid + label,
      textarea:not(:empty):valid + label,
      label.always {
        color: $color-secondary;
        font-size: 85%;
        transform: translate3d(0, -160%, 0);
        opacity: 1;
      }
    }
  }

  ul.vertical {
    flex-direction: column;
    height: 100%;

    & > li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul.horizontal {
    margin: 0 -5px;

    & > li {
      margin: 0 5px;
      width: 50%;
    }
  }
}
