.horizontal,
.vertical,
.gallery {
  display: flex;
}

.horizontal {
  flex-direction: row;
  margin-left: -5px;
  margin-right: -5px;
  & > * {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.vertical,
.gallery {
  flex-direction: column;
}

.gallery img {
  margin-bottom: 10px;
}

.gallery img:last-child {
  margin-bottom: 0px;
}
